  body {
      font-family: 'Sono', sans-serif;
    }
    .pricing-container{
     display:flex;
     height:100vh;
     
     justify-content:center;
     align-items:center;
     gap:10px;
    }
   .pricing-plan{
    flex:1;
    margin-top:25%;
    max-width:400px;
    background-color:#f2f2f2;
    padding:20px;
    border-radius:10px;
    border:2px solid purple;
   }
  .plan-title{
    text-align:center;
    font-size:1.5rem;
    font-weight:bold;
  }
 .plan-price{
   font-size:2.5rem;
   font-weight:bolder;
 }
    button{
      background-color:#ff6600;
      color:#ffffff;
      border-radius:4px;
      margin-left:35%;
      border:3px  solid black;
    }
    li{
      list-style:none;
    }
    /* Hint: What can you do with a media query and flexbox? */
    @media (max-width: 1250px) {
       .pricing-container{
       display:flex;
        gap:5px;
        flex-direction:column;
        margin-top:20%;
   }
}